@page
@model IndexModel
@{
    ViewData["Title"] = "River City AI - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To the future of AI.</p>
    <div class="w-50 mx-auto">
        <img src="/images/rcai-colour.png" class="img-fluid" alt="River City AI Logo">
    </div>
    <p>Server Name is: @Model.ServerName</p>
    <p>Server Private IP is: @Model.ServerPrivateIP </p>
</div>
